@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro-Regular"), local("SourceSansPro Regular"),
    url("../../fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Regular.woff") format("woff"),
    url("../../fonts/SourceSansPro-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "PaytoneOne";
  src: local("PaytoneOne-Regular"), local("PaytoneOne Regular"),
    url("../../fonts/PaytoneOne-Regular.woff2") format("woff2"),
    url("../../fonts/PaytoneOne-Regular.woff") format("woff"),
    url("../../fonts/PaytoneOne-Regular.ttf") format("ttf");
  font-weight: 400;
}
