.info__container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #262627;
}

.info__paragraph {
  color: #e5e5e5;
}

.info__list-items {
  color: #e5e5e5;
}

.info {
  background-color: #262627;
}

.info__wrapper {
  display: flex;
  justify-content: space-between;
}

.info__list {
  padding-top: 10px;
  display: flex;
  gap: 60px;
}

.info__list-items {
  font-size: 18px;
  text-align: center;
}

.info__list-numbers {
  font-family: "PaytoneOne";
  font-size: 50px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .info__list-numbers {
    font-family: "PaytoneOne";
    font-size: 40px;
    text-align: center;
  }

  .info__next-line {
    display: none;
  }

  .info__list {
    padding-left: 15px;
    gap: 30px;
  }
}

@media screen and (max-width: 888px) {
  .info__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .info__list-numbers {
    font-size: 30px;
  }

  .info__list-items {
    font-size: 16px;
  }

  .info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .info__list {
    gap: 30px;
  }
}

@media screen and (max-width: 320px) {
  .info__list {
    gap: 7px;
  }
}
