.carousel {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: #262627;
  padding-top: 50px;
  padding-bottom: 150px;
  overflow: hidden;
}

.swiper {
  width: 40%;
}

.swiper-slide {
  width: 469px;
  height: 402px;
}

@media screen and (max-width: 1500px) {
  .swiper {
    width: 50%;
  }
}

@media screen and (max-width: 888px) {
  .carousel {
    padding-top: 25px;
    padding-bottom: 75px;
    gap: 30px;
  }
  .swiper {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .carousel {
    padding-top: 5px;
    padding-bottom: 60px;
  }
  .swiper {
    width: 70%;
  }
}
